main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main .card
{
    text-align: center;
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;

    min-height: 100%;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

main tfoot
{
    font-weight: bold;
}

.table td {
    max-width: 200px;
}

.table td span {
   overflow: hidden;
   text-overflow: ellipsis;
   display: inline-block;
   white-space: nowrap;
   max-width: 100%;
}

/* fixed-width input group labels */
.input-group>.input-group-prepend {
    flex: 0 0 25%;
}
.input-group .input-group-text {
    width: 100%;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

.footer {
    height:40px;
    margin-top:-40px;
}