{% extends 'layout.html' %}

{% block title %}
event
{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <h2>{{ event.title }}</h2>
        <p class="lead">{{ event.description }}</p>
        {% if not event.users %}
        <p class="lead">This event has no users...yet!</p>
        {% else %}
            {% if not event.pairs %}
            <p>This event has not been shuffled!</p>
            <button class="btn btn-primary" type="button" data-toggle="modal" data-target="#shuffleModal">
                Shuffle gifters
            </button>
            {% else %}
            <p>This event has been shuffled. Reshuffle at your own risk.</p>
            <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#shuffleModal">
                Shuffle gifters
            </button>
            {% endif %}
        {% endif %}
    </div>
</div>
{% if event.users %}
<div class="container mb-5">
    <h4>Users</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">username</th>
                    <th scope="col">name</th>
                    <th scope="col">registered on</th>
                    <th scope="col">admin?</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in event.users %}
                <tr>
                    <td>{{ user.username }}</td>
                    <td>{{ user.get_full_name() }}</td>
                    <td>{{ user.registered_on }}</td>
                    {% if user in event.admins %}
                    <td>True</td>
                    {% else %}
                    <td>False</td>
                    <td>
                        <form action="/admin/remove-user" method="post">
                            <input hidden name="eventId" value="{{ event.id }}">
                            <input hidden name="userId" value="{{ user.id }}">
                            <button class="btn btn-danger btn-sm" type="submit">remove</button>
                        </form>
                    </td>
                    {% endif %}
                </tr>
                    {% for child in user.children %}
                        {% if child.event_id == event.id %}
                            <tr>
                                <td>👶</td>
                                <td>{{ child.get_full_name() }}</td>
                                <td>{{ child.created_on }}</td>
                                <td>False</td>
                                <td></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#existingUserModal">
      Add existing user
    </button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#childModal">
      Add child
    </button>
</div>

<div class="container mb-5">
    {% if event.invites | length > 0 %}
    <h4>Invites</h4>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">email</th>
                    <th scope="col">code</th>
                    <th scope="col">admin?</th>
                    <th scope="col">used?</th>
                    <th scope="col">expires</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for invite in event.invites %}
                <tr>
                    <td>{{ invite.email }}</td>
                    <td>{{ invite.code }}</td>
                    <td>{{ invite.is_admin | pretty_boolean }}</td>
                    <td>{{ invite.is_used  | pretty_boolean }}</td>
                    <td>{{ invite.expires_on }}</td>
                    <td>
                        <form action="/admin/invites/{{ invite.id }}/revoke" method="post">
                            <button class="btn btn-danger btn-sm" type="submit">revoke</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
    <p>No pending invites</p>
    {% endif %}
    <button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#inviteModal">
      Invite someone
    </button>
</div>

<!-- modals -->
<div class="modal fade" id="shuffleModal" tabindex="-1" role="dialog" aria-labelledby="shuffleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="shuffleModalLabel">Shuffle users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/events/{{ event.id }}/matchmake" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="shuffledUsers">Select users to shuffle</label>
                    </div>
                    <div class="form-group">
                        <select multiple class="form-control form-control-lg" id="shuffledUsers" name="shuffledUsers">
                            {% for user in event.users %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Shuffle users</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="existingUserModal" tabindex="-1" role="dialog" aria-labelledby="existingUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="existingUserModalLabel">Add users</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/events/{{ event.id }}/users" method="post">
                {% if available_users|length == 0 %}
                <div class="modal-body">
                    <p>All existing users already belong to this event!</p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" data-dismiss="modal">Okay</button>
                </div>
                {% else %}
                <div class="modal-body">
                    <div class="form-group">
                        <label for="users">Select users to add to this event</label>
                    </div>
                    <div class="form-group">
                        <select multiple class="form-control form-control-lg" id="users" name="users">
                            {% for user in available_users %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add users</button>
                </div>
                {% endif %}
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="childModal" tabindex="-1" role="dialog" aria-labelledby="childModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="childModalLabel">Add a child to a user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/add-user-child" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="parent">Select a parent</label>
                    </div>
                    <div class="form-group">
                        <select multiple class="form-control form-control-lg" id="parent" name="parent">
                            {% for user in event.users %}
                                <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="firstName" placeholder="first name" type="text">
                    </div>
                    <div class="form-group">
                        <input class="form-control" name="lastName" placeholder="last name" type="text">
                    </div>
                    <input hidden name="eventId" value="{{ event.id }}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create user</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="inviteModal" tabindex="-1" role="dialog" aria-labelledby="inviteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="inviteModalLabel">Invite someone to this event</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/invites" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group col-sm">
                            <input class="form-control" autocomplete="off" autofocus name="email" placeholder="email" type="email">
                            <input hidden name="eventId" value="{{ event.id }}">
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-check-input" type="checkbox" id="isAdmin" name="isAdmin" value="True">
                        <label class="form-check-label" for="isAdmin">Is administrator?</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Invite</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}