{% extends 'layout.html' %}

{% block title %}
admin
{% endblock %}

{% block main %}
<h4>Users</h4>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">id</th>
                <th scope="col">username</th>
                <th scope="col">name</th>
                <th scope="col">registered on</th>
                <th scope="col">admin?</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.registered_on }}</td>
                <td>{{ user.is_admin | pretty_boolean }}</td>
                <td>
                    <form action="/admin/users/delete" method="post">
                        <input hidden name="id" type="number" value="{{ user.id }}">
                        <button class="btn btn-primary btn-sm" type="submit">delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<br/>
<br/>
<h4>Invites</h4>
    <form action="/admin/invites" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="email" type="email">
            <button class="btn btn-primary" type="submit">invite</button>
        </div>
    </form>
    {% if not invites %}
        <p>No invites pending</p>
    {% else %}
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">email</th>
                    <th scope="col">created</th>
                    <th scope="col">expired</th>
                    <th scope="col">code</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for invite in invites %}
                <tr>
                    <th scope="row">{{ invite.id }}</th>
                    <td>{{ invite.email }}</td>
                    <td>{{ invite.created }}</td>
                    <td>{{ invite.expires | is_expired }}</td>
                    <td>{{ invite.code }}</td>
                    <td>
                        <form action="/admin/invites/revoke" method="post">
                            <input hidden name="id" type="number" value="{{ invite.id }}">
                            <button class="btn btn-primary btn-sm" type="submit">revoke</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}