{% extends 'layout.html' %}

{% block title %}
home
{% endblock %}

{% block main %}
    <h3>{{ event.title }}</h3>
    {% for user in participants %}
        <div class="card mb-3" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ user.first_name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Gifter is ...</h6>
                <h6 class="card-subtitle mb-2 text-muted">Responsible for ...</h6>
                <hr/>
                <p class="card-text">Wishlist total is $...</p>
                <p class="card-text">$... purchased so far</p>
                <a href="#" class="card-link">View wishlist</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}