<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/favicon.ico" rel="icon">
        <link href="/static/styles.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/56cea387e4.js" crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
        {% block scripts %}{% endblock %}
        <title>gifted: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                <a class="navbar-brand" href="/"><span class="blue">🎁 gifted</span></a>
                <div class="w-100 text-right">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
            <div class="collapse navbar-collapse flex-grow-1 text-right" id="collapse">
                {% if session.user_id %}
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fas fa-user"></i>
                            <span class="ml-1">{{ g.user.username }}</span>
                        </a>
                    </li>
                    {% if session.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/events">
                            <i class="fas fa-user-shield"></i>
                            <span class="ml-1">admin</span>
                        </a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">
                            <i class="fas fa-sign-out-alt"></i>
                            <span class="ml-1">logout</span>
                        </a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <a class="nav-link" href="/register">
                            <i class="fas fa-user-plus"></i>
                            <span class="ml-1">register</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">
                            <i class="fas fa-sign-in-alt"></i>
                            <span class="ml-1">login</span>
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </nav>

        <!-- conditionally flash warnings and successes in separate groups -->
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <header>
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="alert alert-success border text-center" role="alert">
                            {{ message }} <br/>
                        </div>
                    {% endif %}
                    {% if category == 'warning' %}
                        <div class="alert alert-danger border text-center" role="alert">
                            {{ message }} <br/>
                        </div>
                    {% endif %}
                {% endfor %}
            </header>
            {% endif %}
        {% endwith %}

        <main class="container mw-75 p-3">
            {% block top_nav %}{% endblock %}
            {% block main %}{% endblock %}
            {% block bot_nav %}{% endblock %}
        </main>

        <footer class="bottom font-sm text-sm pt-5">
            <div class="container text-center">
                <ul class="list-unstyled text-muted text-sm" style="font-family: monospace;">
                    <li>Developed by Jordan Caimano</li>
                    <li>
                        <i class="fab fa-git-alt" title="GitHub"></i>
                        <span class="ml-1"><a href="https://github.com/jcaimano">@jcaimano</a></span>
                    </li>
                    <li>Want to support the site? Buy me a beer! <a href="https://cash.app/$jordacai">🍺</a></li>
                    <li>
                        <i class="fas fa-dumpster-fire" title="A dumpster fire"></i>
                        <span class="ml-1">2020</span>
                    </li>
                </ul>
            </div>
        </footer>
    </body>
</html>