{% extends 'layout.html' %}

{% block title %}
home
{% endblock %}

{% block top_nav %}
<a class="nav-item nav-link" href="#">events</a>
{% endblock %}

{% block main %}
    {% for event in events %}
    <div class="container">
        <div class="card-deck">
            <div class="card mb-3">
                <img class="card-img-top" src="/static/xmas-wrapping-paper.jpg" alt="event image">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text">{{ event.description }}</p>
                    {% if event.is_active() %}
                        <h6>Event is active!</h6>
                    {% endif %}
                    <a href="/events/{{ event.id }}" class="btn btn-primary">Go to event</a>
                </div>
                <div class="card-footer text-muted">
                    {% if event.is_expired() %}
                        Event ended on {{ event.ends_on }}
                    {% else %}
                        Event ends on {{ event.ends_on }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}