{% extends 'layout.html' %}

{% block title %}
login
{% endblock %}

{% block main %}
<div class="container">
    <form action="/login" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="username" type="email" required>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="password" type="password" required>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">login</button>
        </div>
        <div>
            <a href="/forgot">forgot?</a>
        </div>
    </form>
</div>
{% endblock %}