{% extends 'layout.html' %}

{% block title %}
purchases
{% endblock %}

{% block top_nav %}
<a class="nav-item nav-link" href="/">events</a>
<span class="navbar-text">/</span>
<a class="nav-item nav-link" href="/events/{{ event.id }}">{{ event.title }}</a>
<span class="navbar-text">/</span>
<a class="nav-item nav-link active" href="#">My purchases</a>
{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <h2>My Purchases</h2>
        {% if purchases|length == 0 %}
        <div>
            <p class="lead">You have not made any purchases...yet!</p>
        </div>
        {% else %}
        <div>
            <p class="lead">
                You have made {{ purchases|length }} purchase(s) totaling <strong>${{ liability }}</strong>.
            </p>
        </div>
    </div>

    <div class="card-columns">
        {% for purchase in purchases %}
        <div class="card">
            <div class="card-header">
                {{ purchase.giftee.first_name }} {{ purchase.giftee.last_name }}
            </div>
            <div class="card-body">
                <p class="lead">{{ purchase.item.description }}</p>
                <h5 class="card-subtitle mb-2 text-muted">${{ purchase.item.price }}</h5>
                <form action="/events/{{ event.id }}/purchases/{{ session['user_id'] }}/delete" method="post">
                    <input type="hidden" id="purchase_id" name="purchase_id" value="{{ purchase.id }}">
                    <button class="btn btn-danger btn-sm" type="submit" onclick="return confirmDelete()">Unclaim</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block bot_nav %}
<div class="container">
    <a href="/events/{{ event.id }}"><span>back to event</span></a>
</div>
{% endblock %}