{% extends 'layout.html' %}

{% block title %}
purchases
{% endblock %}

{% block top_nav %}
<div class="container">
    <div class="navbar">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Events</a></li>
                <li class="breadcrumb-item"><a href="/events/{{ event.id }}">{{ event.title }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">My purchases</li>
            </ol>
        </nav>
    </div>
</div>

{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <h2>My purchases</h2>
        {% if purchases|length == 0 %}
        <div>
            <p class="lead">You have not made any purchases...yet!</p>
        </div>
        {% else %}
        <div>
            <p class="lead">
                You have made {{ purchases|length }} purchase(s) totaling <strong>${{ liability }}.</strong>
            </p>
        </div>
        {% endif %}
    </div>

    {% for giftee_name, transactions in grouped_transactions.items() %}
    <div class="card-columns mb-3">
        {% for transaction in transactions %}
        <div class="card">
            <div class="card-header">
                <p class="text-left">
                    {{ transaction.item.description }}
                    <span class="text-muted font-italic">
                        for
                        <a href="/events/{{ event.id }}/wishlists/{{ transaction.giftee.id }}">
                            {{ giftee_name }}
                        </a>
                    </span>
                </p>
            </div>
            <div class="card-body">
                <h5 class="card-subtitle mb-2">${{ transaction.item.price }}</h5>
                <form action="/events/{{ event.id }}/purchases/{{ session['user_id'] }}/delete" method="post">
                    <input type="hidden" id="purchase_id" name="purchase_id" value="{{ transaction.id }}">
                    <button class="btn btn-danger btn-sm" type="submit" onclick="return confirmDelete()">
                        Unclaim
                    </button>
                </form>
                <p class="card-text">
                    <small class="text-muted">Claimed on {{ pretty_datetime(transaction.transacted_on) }}</small>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock %}
{% block bot_nav %}
<div class="container">
    <a href="/events/{{ event.id }}"><span>back to event</span></a>
</div>
{% endblock %}