{% extends 'layout.html' %}

{% block title %}
wishlist
{% endblock %}

{% block top_nav %}
<a class="nav-item nav-link" href="/">Events</a>
<span class="navbar-text">/</span>
<a class="nav-item nav-link" href="/events/{{ event.id }}">{{ event.title }}</a>
<span class="navbar-text">/</span>
{% if user.id == session['user_id'] %}
<a class="nav-item nav-link active" href="#">My wishlist</a>
{% else %}
<a class="nav-item nav-link active" href="#">{{ user.first_name }} {{ user.last_name }}'s wishlist</a>
{% endif %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="jumbotron">
        <!-- This is for the currently logged in user, do not render progress! -->
        {% if user.id == session['user_id'] %}
            <h2>My Wishlist</h2>
            {% if wishlist|length == 0 %}
            <p class="lead">
                Start your wishlist so gifters can begin gifting!
            </p>
            {% else %}
            <p class="lead">Your wishlist total is ${{ progress.total }}</p>
            {% endif %}
            <div>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#wishlistModal">
                    Add to wishlist
                </button>
            </div>
        <!-- This is for every other user, show progress with friendly messages! -->
        {% else %}
            <h2>{{ user.first_name }}'s Wishlist</h2>
            {% if wishlist|length == 0 %}
            <p class="lead">
                This wishlist has not been started...yet!
            </p>
            {% else %}
                {% if progress.percent == '0.00' %}
                <p class="lead">
                    Get this thing started, people! 🙄
                </p>
                {% elif progress.percent == '100.00' %}
                <p class="lead">
                    We did it! {{ user.first_name }}'s wishlist is complete! 🥳
                </p>
                {% else %}
                <p class="lead">
                    Gifters have claimed <strong>${{ progress.purchased }}</strong> <br>
                    of the <strong>${{ progress.total }}</strong> total that {{ user.first_name }} requested.
                </p>
                <div class="progress bg-white mb-5">
                    <div class="progress-bar progress-bar-striped bg-success" style="width: {{ progress.percent }}%;"></div>
                </div>
                {% endif %}
            {% endif %}
        {% endif %}

        <div class="card-columns">
            {% for item in wishlist %}
            <div class="card">
                <div class="card-header">
                    {{ item.description }}
                </div>
                <div class="card-body">
                    <h5 class="card-subtitle text-success mb-2">${{ item.price }}</h5>
                    {% if item.location %}
                    <p class="mb-2">
                        <a class="card-link" href="{{ item.location }}" target="_blank" rel="noopener noreferrer">
                            Find me here
                        </a>
                    </p>
                    {% endif %}
                    {% if item.user_id == session['user_id'] %}
                    <form action="{{ request.path }}/items/{{ item.id }}/delete" method="post">
                        <input type="hidden" id="deleted_item_id" name="item_id" value="{{ item.id }}">
                        <button class="btn btn-danger btn-sm" type="submit">
                            Remove
                        </button>
                    </form>
                    {% elif item.transaction is not none %}
                        {% if item.transaction.gifter_id == session['user_id'] %}
                        <form action="{{ request.path }}/transactions/{{ item.transaction.id }}/delete" method="post">
                            <input type="hidden" id="transaction_id" name="transaction_id"
                                   value="{{ item.transaction.id }}">
                            <button class="btn btn-danger btn-sm" type="submit" onclick="return confirmDelete()">
                                Unclaim
                            </button>
                        </form>
                        {% else %}
                        <button class="btn btn-secondary btn-sm" disabled>Claimed</button>
                        {% endif %}
                    {% else %}
                    <form action="{{ request.path }}/transactions" method="post">
                        <input type="hidden" id="item_id" name="item_id" value="{{ item.id }}">
                        <input type="hidden" id="gifter_id" name="gifter_id" value="{{ session['user_id'] }}">
                        <input type="hidden" id="giftee_id" name="giftee_id" value="{{ user.id }}">
                        <button class="btn btn-primary btn-sm" type="submit">
                            Claim
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- modals -->
<div class="modal fade" id="wishlistModal" tabindex="-1" role="dialog" aria-labelledby="wishlistModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="wishlistModalLabel">Add an item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="{{ request.path }}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="input-group col-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="question">description</span>
                            </div>
                            <input name="description" type="text" class="form-control" placeholder="what would you like?"
                                   autocomplete="off" aria-label="question">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="pre-url">url</span>
                            </div>
                            <input name="location" type="url" class="form-control" placeholder="where can we find it?"
                                   autocomplete="off" aria-describedby="pre-url">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="pre-price">price ($)</span>
                            </div>
                            <input name="price" type="number" min="0.01" step="0.01" class="form-control"
                                   placeholder="how much is it?" aria-describedby="pre-price">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group col-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">priority</span>
                            </div>
                            <select class="form-control" id="priority" name="priority">
                                <option selected disabled>pick a priority</option>
                                <option value="low">low</option>
                                <option value="medium">medium</option>
                                <option value="high">high</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add item</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block bot_nav %}
<div class="container">
    <a href="/events/{{ event.id }}"><span>back to event</span></a>
</div>
{% endblock %}