{% extends 'layout.html' %}

{% block title %}
wishlist
{% endblock %}

{% block main %}
{% if user.id == me.id %}
<form action="{{ request.path }}" method="post">
    <div class="form-row mb-3 justify-content-center">
        <div class="input-group col-sm">
            <input name="description" type="text" class="form-control" placeholder="description" autocomplete="off" aria-label="description">
        </div>
        <div class="input-group col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text" id="at">@</span>
            </div>
            <input name="location" type="text" class="form-control" placeholder="location" autocomplete="off" aria-label="location" aria-describedby="at">
        </div>
    </div>
    <div class="form-row mb-3 justify-content-center">
        <div class="input-group col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">$</span>
            </div>
            <input name="price" type="text" class="form-control" placeholder="price">
        </div>
        <div class="input-group col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">#</span>
            </div>
            <input name="quantity" type="number" class="form-control" placeholder="quantity">
        </div>
        <div class="input-group col-sm">
            <div class="input-group-prepend">
                <span class="input-group-text">!</span>
            </div>
            <input name="priority" type="number" class="form-control" placeholder="priority">
        </div>
    </div>
    <button class="btn btn-primary mb-5" type="submit">Add to wishlist</button>
</form>
{% endif %}
<h5>{{ user.first_name }}'s Wishlist</h5>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">status</th>
            <th scope="col">description</th>
            <th scope="col">location</th>
            <th scope="col">price</th>
            <th scope="col">quantity</th>
            <th scope="col">priority</th>
        </tr>
    </thead>
    <tbody>
    {% for item in wishlist %}
        {% if item.user_id == me.id %}
        <tr>
            <td>
                <form action="{{ request.path }}/items/{{ item.id }}/delete" method="post">
                    <input type="hidden" id="deleted_item_id" name="item_id" value="{{ item.id }}">
                    <button class="btn btn-danger btn-sm" type="submit">Remove</button>
                </form>
            </td>
        {% elif item.is_purchased %}
        <tr class="table-success">
            {% if item.transaction in me.transactions %}
            <td>
                <form action="{{ request.path }}/transactions/{{ item.transaction.id }}/delete" method="post">
                    <input type="hidden" id="transaction_id" name="transaction_id" value="{{ item.transaction.id }}">
                    <button class="btn btn-danger btn-sm" type="submit">Unclaim</button>
                </form>
            </td>
            {% else %}
            <td>
                <button class="btn btn-secondary btn-sm" disabled>Claimed</button>
            </td>
            {% endif %}
        {% else %}
        <tr>
            <td>
                <form action="{{ request.path }}/transactions" method="post">
                    <input type="hidden" id="item_id" name="item_id" value="{{ item.id }}">
                    <input type="hidden" id="gifter_id" name="gifter_id" value="{{ session['user_id'] }}">
                    <input type="hidden" id="giftee_id" name="giftee_id" value="{{ user.id }}">
                    <button class="btn btn-primary btn-sm" type="submit">Claim!</button>
                </form>
            </td>
        {% endif %}
            <td>{{ item.description }}</td>
            <td><abbr title="{{ item.location }}"><a href="{{ item.location }}">{{ item.location }}</a></abbr></td>
            <td>{{ item.price }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.priority }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a href="/">back to home</a>
{% endblock %}