{% extends 'layout.html' %}

{% block title %}
register
{% endblock %}

{% block main %}
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="email" placeholder="email" type="email" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">This is your username</small>
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="firstName" placeholder="first name" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="lastName" placeholder="last name" type="text">
        </div>
        <button class="btn btn-primary" type="submit">register</button>
    </form>
{% endblock %}